@charset "utf-8";
@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif; 
*/

:root{
    --circle-size : 200px;
}
body *{
    font-family: 'Josefin Sans','Noto Sans KR';
}
/********************************************************************* 
    헤더 
*********************************************************************/

header {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.header {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 35px;
    overflow: hidden;
}
.header h1 {
    position: absolute;
    left: 5%;
}
.header h1 img {
    height: 20px;
}
.menu {
    position: absolute;
    right: 5%;
}

.menu a {
    display: flex;
    align-items: center;
}
#ham {
    margin: 0 10px;
}
.line {
    background-color: black;
    width: 20px;
    height: 3px;
    margin: 5px 0px; /*상하5, 좌우0*/
    transition-duration: 0.5s;
}
/*첫 번째 줄*/
.menu:hover #top {
    transform: translateY(8px) rotate(45deg);
    transform-origin: center;
}

/*두 번째 줄*/
.menu:hover #mid {
    opacity: 0;
}

/*세 번째 줄*/
.menu:hover #btm {
    transform: translateY(-8px) rotate(-45deg);
    transform-origin: center;
}
.menu-open{
    color: #000;
}
.menu-close{
    color: white;
}
.menu-open,
.menu-close.on {
    transform: translateY(0);
    transition: 0.5s;
}
.menu-open.on,
.menu-close {
    transform: translateY(200%);
}


/******************************************************************** 
    메인 비주얼
********************************************************************/
#main-visual {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.inner ul {
    display: flex;
    flex-direction: row;
}

.inner li.on img{
    animation: scale 5s linear;
}
@keyframes scale {
    from{
        transform: scale(1.5);
    }
    to{
        transform: scale(1);
    }
}
.main-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-txt-area {
    display: none;
    opacity: 0;
    transition: 1s ease-in;
}
.main-txt-area.on {
    display: block;
    opacity: 1;
}
.main-txt-area h2 {
    font-size: 70px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}
.main-txt-area span img{
    vertical-align: bottom;
}
.main-txt-area dd{
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: 17px;
    font-weight: 300;
}
.main-bul {
    display: block;
    position: absolute;
    top: 80%;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
}
.main-bul ul {
    display: flex;
}
.main-bul li {
    /* font-family: "Josefin Sans", sans-serif; */
}
.main-bul li a {
    font-size: 15px;
    /* color: #a5916f; */
    color: rgba(35, 31, 32, 0.5);
    line-height: 20px;
    position: relative;
    display: inline-block;
    padding: 0 20px;
}
.main-bul li.active a {
    color: #a5916f;
    font-size: 20px;
    font-weight: 700;
}
.main-bul li.active a:before {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background: #a5916f;
    position: absolute;
    top: 8px;
    right: 48px;
    animation: ani-width 2s;
}
.main-bul li.active a:after {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background: #a5916f;
    position: absolute;
    top: 8px;
    left: 48px;
    z-index: 1;
    animation: ani-width 2s;
}
@keyframes ani-width {
    from{
        width: 0;
    }
    to{
        width : 30px;
    }
}

.main-bul li.active:first-child a:before,
.main-bul li.active:last-child a:after {
    display: none;
}
/******************************************************************** 
    비즈니스
********************************************************************/
.main2{
    margin: 100px 0;
    height: auto;
    overflow: hidden;
}
.busi-wrap{
    position: relative;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}
.busi-info{
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
}
.busi-info h2{
    font-size: min(64px,30vw);
    font-weight: 700;
}
.busi-info span:nth-of-type(1) ,span:nth-of-type(2) ,span:nth-of-type(3){
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    color: white;
}
.busi-info h3{
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: min(28px,20vw);
    color : #a5916f;
    line-height: 2;
}
.busi-info p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    line-height: 2;
}
.busi-gallery{
    position: absolute;
    left: 94%;
    top: 0;
    width: 35%;
    aspect-ratio: 16/9;
    background: url(../imgs/mod_link_bg1.jpg) no-repeat 100%/100%;
    cursor: pointer;
}
.busi-gallery-txt{
    width: 100%;
    height: 100%;
    background: url(../imgs/mod_link_txt.jpg) no-repeat 50%/65%;
}
.busi-slide{
    position: relative;
}
.busi-slide ul{
    display: flex;
    overflow: hidden;
    margin: 50px 0;
}
.busi-slide ul li{
    width: 100vw;
    height: auto;
}
.busi-slide-img{
    position: relative;
}
.busi-slide-img img{
    transition: .5s;
}
.busi-slide-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
}
.busi-slide-img img:hover{
    transform:scale(1.05);
}
.busi-slide:hover .abtn{
    display: block;
    transition: .3s;
    opacity: 1;
}
.busi-slide-box h2{
    font-size: min(36px,17vw);
    line-height: 1.5;
}
.busi-slide-box h3{
    font-size: min(24px,8vw);
}
.abtn{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    width: min(50px,5vw);
    height: min(50px,5vh);
    border-radius: 50%;
    z-index: 55;
    cursor: pointer;
    display: none;
    opacity: 0;
}
.ab1{
    background: #0000006d url(../imgs/prev1.jpg) no-repeat 50%/30%;
    left: 5%;
}
.ab2{
    background: #0000006d url(../imgs/next1.jpg) no-repeat 50%/30%;
    right: 5%;
}

/******************************************************************** 
    트랜드
********************************************************************/
.trends-wrap{
    position: relative;
    height: 770px;
    background-color: #000;
    overflow: hidden;
}
.trends-txt{
    position: relative;
    color: #fff;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 10%;
    text-align: right;
    z-index: 1;
}
.trends-txt span{
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    color: #000;
    font-size: min(67px,24vw);
    line-height: 1;
    font-weight: 700;
}
.trends-txt p{
    font-size: min(56px,22vw);
    font-weight: 700;
    line-height: 1.5;
}
.trends-txt h3{
    font-size: min(18px, 14vw);
    line-height: 2;
}
.trends-img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url(../imgs/img_value2.jpg) no-repeat left/80%;
    /* transform: translateZ(10px) scale(1.2); */
}
.trends-slogan{
    height: 20vh;
    max-width: 80%;
    margin: 0 auto;
}
.trends-slogan ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.trends-slogan li{
    position: relative;
    width: var(--circle-size);
    height: var(--circle-size);
    background-color: #555;
    border-radius: 50%;
    z-index: 1;
    margin: 0 10px;
}
.trends-slogan li::before{
    content: '';
    display: inline-block;
    border: 5px solid transparent;
    box-sizing: border-box;
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
    transition: .5s;
}
.trends-slogan li:hover::before{
    border: 100px solid rgba(255,255,255,.3);
}

.trends-slogan-cir{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trends-slogan-cir p{
    line-height: 3;
    font-size: min(20px,10vw);
    color: #fff;
}
.trends-slogan-cir p::after{
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin: 5px auto;
}
.trends-slogan-cir h3{
    line-height: 1.5;
    font-size: min(12px,5vw);
    color: #fff;
}
/******************************************************************** 
    Request
********************************************************************/
.main4{
    position: relative;
    height: 100vh;
}
.request-info{
    position: absolute;
    bottom: calc(100% - 200px/2);
    width: 200px;
    height: 200px;
    left : 10%;
    color: #fff;
    background-color: #a5916f;
    box-shadow: 3px 3px 3px #000000a3;
}
.request-info p{
    font-size: min(24px,10vw);
    font-weight: 700;
    line-height: 3;
    margin-left: 10%;
}
.request-info h3{
    font-size: min(14px,8vw);
    margin-left: 10%;
}
.request-info h4{
    font-size: min(14px, 8vw);
    line-height: 4;
    margin-left: 10%;
    cursor:pointer;
}
.request-info h4::before{
    content: '';
    display: block;
    position: absolute;
    background: url(../imgs/icon_arrow.gif) no-repeat;
    top: 56%;
    left: 80%;
    width: 26px;
    height: 27px;
}
.request-info h4::after{
    content: '';
    display: block;
    position: absolute;
    width: 0%;
    /* color: #fff; */
    height: 1px;
    top: 75%;
    left: 5%;
    background-color: #fff;
    transition: .3s;
}
.request-info h4:hover::after{
    width: 90%;
}
.request-wrap form{
    padding-top: 200px;
}