@charset "utf-8";

/* #ham{
    width: 64px; height: 57px;
    padding: 22px;
    background-color: #ff9c78;
    overflow: hidden; 
    cursor: pointer; 
} */

.line{
    background-color: black;
    width: 20px; height: 5px;
    margin: 5px 0px; /*상하10, 좌우0*/
    transition-duration: 0.5s;
}
/*첫 번째 줄*/
#ham:hover #top{
    transform: translateY(5px) rotate(45deg);
    transform-origin: center;
}

/*두 번째 줄*/
#ham:hover #mid{
    opacity: 0;
}

/*세 번째 줄*/
#ham:hover #btm{
    transform: translateY(-15px) rotate(-45deg);
    transform-origin: center;
}
.header p a{
    
}



