.subgt-top {
    padding-top: 10%;
    margin-bottom: 5%;
}
.subgt-top h3 {
    text-align: center;
    font-size: min(28px, 10vw);
    font-weight: 700;
}
.subgt-wrap {
    overflow: hidden;
    width: 100%;
}
.subgt-cont{
    opacity: 0;
    display: none;
    margin-left: 5%;
}
.subgt-cont.on{
    opacity: 1;
    display: block;
}
.subgt-cont ul {
    display: flex;
    flex-direction: row;
    gap: 15%;
}
.subgt-memImg {
    position: relative;
}
.subgt-memImg img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.subgt-memImg img:last-child {
    position: relative;
    z-index: 2;
}
.subgt-memInfo p {
    color: var(--main-color);
    margin-top: 23%;
}
.subgt-memInfo h1 {
    font-size: 78px;
    font-weight: 300;
    line-height: 2.5;
}
.subgt-memInfo table th{
    font-weight: 400;
    text-align: left;
    padding: 10px 15px 0 0;
}
.subgt-memInfo table td {
    font-weight: 300;
    text-align: left;
    padding: 10px 15px 0 0;
}
.subgt-slide{
    position: absolute;
    top: 80%;
    left: 52%;
}
.subgt-arrow{
    display: flex;
}
.gfBtn{
    font-size: 35px;
    cursor: pointer;
    margin: 0 35%;
    font-weight: 300;
}