.subgre{
    position: relative;
}
.subgre-bg{
    overflow: hidden;
}
.subgre-bg img{
    width: 100%;
    max-height: 870px;
}
.subgre-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.subgre-text-up img{
    vertical-align: top;
}
.subgre-text-up span{
    font-weight: 700;
    font-size: min(10vw,64px);
}
.subgre-tit ul{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 25px auto 0;
}
.subgre-tit li a{
    color: #000;
}
.subgre-tit li.on a{
    color: var(--main-color);
}
.subgreimg-wrap.lab{
    margin: 5% 0;
}
.subgreimg-wrap.lab ul{
    justify-content: space-around;

}
.subgreimg-wrap ul{
    display: flex;
    justify-content: space-evenly;
}

.subgreimg-wrap.vision ul{
    flex-direction: row-reverse;
}
.subgreimg-wrap li:first-child{
    max-width: 25%;
}
.subgreimg-wrap li p{
    color: var(--main-color);
    font-size: min(5vw,16px);
}
.subgreimg-wrap li h3{
    font-size: min(5vw,72px);
    word-wrap: break-word;
    margin: 13% 0;
    font-weight: 200;
}
.subgreimg-wrap li h4{
    font-size: min(2.5vw,20px);
    line-height: 2;
    font-weight: 200;
}
.subgreimg-img img{
    max-width: 90%;
}
.subgre-svg{
    width: min(70%,2000px);
    height:  min(300px,28vh);
    margin-left: auto;
    margin-top: 5%;
}
.subgre-svg svg{
    width: 100%;
    height: 100%;
}
.subgre-bgImg{
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.subgre-bgImg-view{
    position: relative;
}
.subgre-bgImg-view img{
    width: 100%;
}