/********************************************************************* 
    헤더 
*********************************************************************/

header {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.header {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 35px;
    overflow: hidden;
}
.header h1 {
    position: absolute;
    left: 5%;
}
.header h1 img {
    height: 20px;
}
.menuBtn {
    position: absolute;
    right: 5%;
}

.menuBtn a {
    display: flex;
    align-items: center;
}
#ham {
    margin: 0 10px;
}
.line {
    background-color: black;
    width: 20px;
    height: 3px;
    margin: 5px 0px; /*상하5, 좌우0*/
    transition-duration: 0.5s;
}
.menu-close.on + #ham .line{
    background-color: #fff;
}

/*첫 번째 줄*/
.menu-close.on + #ham>#top {
    transform: translateY(8px) rotate(45deg);
    transform-origin: center;
}

/*두 번째 줄*/
.menu-close.on + #ham> #mid {
    opacity: 0;
}

/*세 번째 줄*/
.menu-close.on + #ham>#btm {
    transform: translateY(-8px) rotate(-45deg);
    transform-origin: center;
}
.menu-open{
    color: #000;
}
.menu-close{
    color: white;
}
.menu-open.on,
.menu-close.on {
    transform: translateY(0);
    transition: 0.5s;
    display: block;
    font-weight: 700;
}
.menu-open,
.menu-close {
    transform: translateY(200%);
    display: none;
}
/********************************************************************** 
    메뉴
**********************************************************************/
#menu{
    width: 80%;
    margin: 0 0 0 20%;
    height: 100%;
    position: fixed;
    z-index: 999;
    left:100%;
    background-color: var(--main-color);
    transition: .3s;
}

.menu{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

#menu::before{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #fff;
}
.menu dl{
    position: relative;
    width: 50%;
}
.menu dl dt *{
    font-size: 30px;
    color: rgb(255, 255, 255, .5);
    line-height: 2.5;
}
.menu dl:hover dt *, .menu dl.active dt *{
    color: #fff;
}
.menu dl:hover dt a, .menu dl.active dt a{
    margin-left: 20px;
    transition: margin-left 1s;
}
.menu dl dd *{
    line-height: 4;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}
.menu dl dt{
    margin-left: 100px;
    font-weight: 700;
}
.menu dl dt em{
    font-size: 20px;
}
.menu dl dd{
    display: none;
}
.menu dl.active dd{
    display: block;
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
    margin-left: 100px;
}
.menu dl.active::before{
    content: '';
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: middle;
    right: -2.5px;
    top: 50%;
}

.menu dl.active::after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fff;
    left: calc(100% + 10px);
    top: calc(50% + 2.5px);
    vertical-align: middle;
    transition: .3s;
}

/******************************************************************** 
    footer
********************************************************************/
footer{
    height: 40vh;
    background-color: #000;
    color: #fff;
}
.footer{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 50px;
    justify-content: space-between;
}
.footer-menu h3{
    font-size: 40px;
    color: #fff;
}
.footer-dt{
    margin: 30px 0;
}
.footer-dt th, td{
    text-align: left;
    padding: 10px 15px 0 0;
}
.footer-dt th{
    font-weight: 700;
}
.footer-dt td a{
    color: rgb(255, 255, 255,.5);
}
.footer-dt td a:hover{
    color : var(--main-color);
}
.footer-menu p{
    color: rgb(255, 255, 255,.5);
}
.footer-sns{
    display: flex;
}
.footer-sns>ul>li{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.footer-sns>ul{
    display: flex;
    padding: 0 40px 60px 0;
    gap: 10px;
}
.footer-sns li{
    position: relative;
}
.footer-sns>a{
    position: absolute;
    width: 100%;
    height: 100%;
}
.footer-sns li img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.footer-site a{
    display: inline-block;
    width: 250px;
    height: 30px;
    border: 1px solid #555;
    color: #fff;
    line-height: 2;
    cursor: pointer;
}
.footer-site ul a:hover{
    color: var(--main-color);
}
.footer-site ul{
    display: none;
}
.footer-site li{
    background-color: #555;
}
.footer-comp{
    text-align: right;
    line-height: 2;
}
.footer-comp dt{
    color: var(--main-color);
}
.footer-comp dt::before{
    content: '*';
    display: inline-block;
    padding-right: 5px;
}
.footer-comp dd{
    color: rgb(255, 255, 255,.5);
}
.footer-comp ul{
    display: flex;
    gap: 10px;
    padding-top: 50px;
}
.footer-comp ul>li:nth-child(2)::before,.footer-comp ul>li:nth-child(3)::before{
    content: '|';
    display: inline-block;
    padding-right: 5px;
}
.footer-comp li{
    color: rgb(255, 255, 255,.8);
}