.subBs{
    position: relative;
}
.bg{
    overflow: hidden;
}
.subBs-tit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.subBs-tit img{
    vertical-align: top;
}
.subBs-tit span{
    font-size: min(75px,10vw);
    margin-left: 2vw;
    font-weight: 700;
    color: #fff;
}
.inner-subBs{
    position: relative;
    padding: 150px 0;
}

.round dl{
    position: absolute;
    margin-left: 70px;
}
.round dd em{
    color: var(--main-color);
}
.tit-group h3{
    text-align: center;
    font-size: 32px;
    padding-bottom: 15px;
}
.tit-group ul{
    display: flex;
    justify-content: center;
    gap:10px;
}
.tit-group li a{
    color: #000;
}
.tit-group li.on a{
    color: var(--main-color);
}
.round>img{
    position: absolute;
    top: 50%;
    left: 23.5px;
    transform: translateY(-50%);
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    from{
        transform: translateY(-50%) rotate(0deg);
    }
    to{
        transform: translateY(-50%) rotate(360deg);
    }
}
.subBs-st1,.subBs-nd1{
    overflow: hidden;
    position: relative;
}
.subBs-st-cont,.subBs-nd-cont{
    display: flex;
    width: 200vw;
}
.subBs-nd-cont{
    flex-direction: row-reverse;
}
.subBs-st-img,.subBs-nd-img{
    width: 100vw;
    height: 60vh;
}
.subBs-st-img{
    transform: translateX(0%);
}
.subBs-nd-img{
    transform: translateX(-100%);
}
.subBs-st-img.on img{
    transform: translateX(-100%);
    transition: 1s ease-out;
}
.subBs-nd-img.on img{
    transform: translateX(100%);
    transition: 1s ease-out;
}
.greyImg{
    background-color: grey;
}
.contImg{
    position: relative;
}
.contImg img{
    width: 100%;
    height: 100%;
}
.subBs-st-txt,.subBs-nd-txt{
    position: absolute;
    bottom: 0;
    left: 20%;
    overflow: hidden;
}
.subBs-nd-txt{
    left:60%
}
.subBs-st-txt h2,.subBs-nd-txt h2{
    font-size: 120px;
    font-weight: 800;
    color: #fff;
    opacity: 0;
}
.subBs-st-txt h2.on,.subBs-nd-txt h2.on{
    opacity: 0.7;
    transition: 1s cubic-bezier(0.25, 0.1, 1, -0.25);
}
.subBs-st2-cont,.subBs-nd2-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subBs-nd2-cont{
    flex-direction: row-reverse;
}
.subBs-st2-svg,.subBs-nd2-svg{
    width: max(700px,40vw);
    height: max(340px,30vh);
}
.subBs-st2-svg svg,.subBs-nd2-svg svg{
    width: 100%;
    height: 100%;
}
.pa1{
    fill: none;
    stroke: var(--main-color);
    stroke-dasharray: 400%;
    stroke-dashoffset: 400%;
    transition: 1s ease-out;
}
.pa1.on{
    stroke-dashoffset: 0%;
    transition: 10s;
}
.subBs-st2-txt,.subBs-nd2-txt{
    margin: 5vh 0;
    width: 40%;
}
.subBs-st2-txt h2,.subBs-nd2-txt h2{
    font-size: 32px;
    font-weight: 600;
    
}
.subBs-st2-txt h4,.subBs-nd2-txt h4{
    font-size: 16px;
    margin-top: 3vh;
    font-weight: 300;
}