.sub{
    position: relative;
}
.bg{
    overflow: hidden;
}
.sub_tit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sub_tit img{
    vertical-align: top;
}
.sub_tit span{
    font-size: min(75px,10vw);
    margin-left: 2vw;
    font-weight: 700;
    color: #fff;
}
.inner{
    position: relative;
    padding: 150px 0;
}
.round{
    position: absolute;
}
.tit_group h3{
    text-align: center;
}
.tit_group ul{
    display: flex;
    justify-content: center;
    gap:10px;
}
.tit_group li a{
    color: #000;
}
.tit_group li.on a{
    color: var(--main-color);
}
.round>img{
    position: absolute;
    bottom: -100%;
    left: 0;

}