.subBs{
    position: relative;
}
.bg{
    overflow: hidden;
}
.subBs-tit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.subBs-tit img{
    vertical-align: top;
}
.subBs-tit span{
    font-size: min(75px,10vw);
    margin-left: 2vw;
    font-weight: 700;
    color: #fff;
}
.inner-subBs{
    position: relative;
    padding: 150px 0;
}

.round dl{
    position: absolute;
    margin-left: 70px;
}
.tit-group h3{
    text-align: center;
    font-size: 32px;
    padding-bottom: 15px;
}
.tit-group ul{
    display: flex;
    justify-content: center;
    gap:10px;
}
.tit-group li a{
    color: #000;
}
.tit-group li.on a{
    color: var(--main-color);
}
.round>img{
    position: absolute;
    top: 50%;
    left: 23.5px;
    transform: translateY(-50%);
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    from{
        transform: translateY(-50%) rotate(0deg);
    }
    to{
        transform: translateY(-50%) rotate(360deg);
    }
}