@charset "utf-8";
@import url(./reset.css);

main{
    width: 100vw;
    height: 100vh;
}
/* 공사중 */
/* body * {
    outline: 5px dashed green;
} */
/* 12 그리드 클래스 : 
한줄에 합이 12컬럼이 되도록 셋팅! */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

ul,ol,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul::after,
ol::after,
.clb::after {
    content: "";
    display: block;
    clear: both;
}
a {
    text-decoration: none;
}
.top-area {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid #fff;
}
.top-area::before{
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.9);
    /* 트랜지션 */
    transition: 0.4s ease-in-out;
}
.top-area:hover::before{
    height: 300px;
    border-bottom: 1px solid #fff;
}
.part-box {   
    position: relative;
}

.logo {
    /* line-height: 100px; */
    height: 103px;
}
.logo img {
    position: absolute;
    top: 29px;
    left: 44px;
    width: min(240px, 17vw);
}

.gnb {
    padding: 0px 0 0 min(0%, 9vw);
}
.gnb > ul{
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}
/* 최상위 직계 li만 적용 */
.gnb > ul > li {
    position: relative;
    width: min(150px, 9.5vw);
    height: 103px;
}

/* 네비게이션 링크 a */
.menu a {
    display: block;
    color: #fff;
    width: 100%;
    text-decoration: none;
    font-size: min(22px, 2.2vw);
    line-height: 103px;
    text-align: center;
}
/* 상위메뉴 오버시 레드 */
.gnb > ul > li > a:hover {
    color: red;
}

/* 서브메뉴 
- 높이값 0으로 숨길 때 숨길박스에 보더나 패딩이 있으면 완전히 숨길수 없다.
따라서 보더, 패딩은 없어야함
*/
.sub-menu {
    position: absolute;
    left: 50%;
    /* 가로방향 메뉴 정중앙 이동 */
    transform: translateX(-50%);
    width: min(150px, 9vw);

    /* 숨기기 높이값 0 */
    height: 0;
    /* 넘치는 요소 숨기기 */
    overflow: hidden;
    /* 투명하게 */
    opacity: 0;

    /* 트랜지션 */
    transition: 0.4s ease-in-out;
}
/* 상위메뉴 li에 마우스 오버시 서브메뉴 보이기 애니 */
.top-area:hover .gnb > ul > li .sub-menu {
    height: calc(40px * 7);
    opacity: 1;
}

li {
    text-align: center;
}
/* *************************************
서브메뉴
**************************************/
.sub-menu{
    border-right: 1px solid hsla(0, 0%, 100%, 0.5);
}
/* 서브메뉴 a */
.sub-menu a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    line-height: 40px;
    font-size: min(16px, 1.6vw);
    /* 반투명 */
    opacity: 0.9;
    /* 트랜지션 */
    transition: 0.3s;
}
/* 서브오버시 효과 */
.sub-menu a:hover {
    opacity: 1;
    background-color: red;
}


/* snb 메뉴 */
.sn {
    height: 103px;
}
.sn>ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.sn a {
    font-size: 1em;
    width: min(100px,5vw);
    white-space: nowrap;
}
.sn ul li{
    height: 100%;
    text-align: center;
}
.sn:last-child ul li:last-of-type{
    opacity: .9;
    background-color: red;
}
.sn:last-child ul li:last-of-type:hover{
    opacity: 1;
}

/*******************************************************************************************
Main
*******************************************************************************************/
.swip-wrap{
    display: flex;
}

.slide-img>img{
    width: 100vw;
    height: 100vh;
}
.info-slide-img{
    width: 100vw;
}

.info-slide-img p{
    position: absolute;
    top: 30%;
    left: 15%;
}
.info{
    color: #fff;
}

.ball-name{
   position: absolute;
    top: 40%;
    left: 15%;
}
.ball-color{
    position: absolute;
    top: 45%;
    left: 15%;
}
.ball-intro{
    position: absolute;
    top: 50%;
    left: 15%;
    line-height: 1.6;
    opacity: .8;
}