@charset "utf-8";

@media screen and (max-width:950px) {
    :root{
        --header-height: 60px;
    }
    html{
        font-size: 6px;
    }
    html,body{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .top-area{
        background-color: #fff;
    }
    .top-area::before{
        display: none;
    }
    .top-area .logo{
        display: none;
    }
    .top-area .m_logo{
        display: block;
    }
    /* 로고 위치 조정 */
    .top-area .m_logo img {
        position: absolute;
        top: 0;
        left: 0;
        width: min(240px, 34vw);
        height: var(--header-height);
        transform: translateY(-50%);
    }
    
    .menu > ul > li {
        position: relative;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .dtimg img:first-child{
        display: none;
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 1;
    }
    .dtimg img:last-child{
        display: block;
        width: 100vw;
        height: auto;
    }
    .sn{
        display: none;
    }
    .sn_m{
        display: block;
    }
    .snm_menu{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .abtn{
        display: none;
    }

    .page .swip-container{
        height: auto;
    }
    .slide-img-info p img{
        width: min(100px,15vw);
        height: min(40px,12vh);
        line-height: 0;
    }
    .ball-name{
        font-size: 8vw;
    }
    .ball-color{
        font-size: 6vw;
        line-height: 1;
    }
    .ball-intro{
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 3vw;
        line-height: 1.3;
        margin-top: 10px;
    }
    .btn-more{
        display: inline-block;
        margin-top: 20px;
    }
    .btn-more{
        content: '';
        display: inline-block;
        border: 1px solid #fff;
        padding: min(10px,2vh) min(10px, 1.5vw);
    }
    .btn-more a::after{
        content: "";
        display: none;
    }
    .btn-more img{
        display: none;
    }

    /**********************************************
        2번째 section 
    **********************************************/

    .img-com {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 10px;
        height: auto;
    }
    .pro-tit{
        padding: 5vh 0 3vh;
    }
    .pro-cont {
        width: 95%;
        margin: 1vh auto 10vh;
    }
    .pro-box{
        aspect-ratio: 2/.7;
        flex-wrap: wrap;
    }
    .pro-box li:hover{
        flex: 1;
        background-position: center;
    }
   
    /**********************************************
        3번째 section 
    **********************************************/
    .center-info>section{
        flex-direction:column;
    }
    .center-info-txt .tBInfo {
        margin-bottom: 7vh;
    }
    .cen-bnr ul{
        flex-direction:column;
        align-items: center
    }
    .cen-bnr li{
        width: 80%;
        margin: 2vh 5vw;
    }
    .cbtn{
        top:30%;
        transform: translateY(-50%);
    }
    .cen-prev{
        left:7%;
    }
    .cen-next{
        right: 7%;
    }
    /**********************************************
        4번째 section 
    **********************************************/
    .comp-wrap video {
        height: 50vh;
        width: 110%;
    }
    /**********************************************
        5번째 section 
    **********************************************/
    .news-head{
        font-size: min(36px, 7vw);
    }
    .nu{
        grid-template-columns: repeat(2,1fr);
    }
    .news-area {
        height: 50vh;
    }
    .news-more{
        width: 30%;
    }
    .news-wrap{
        margin-bottom: 30%;
    }
    #footer{
        height: 50vh;
    }
    .foot-top{
        flex-direction: column;
        height: 30%;
    }
    .foot-top ul{
        justify-content: center;
    }
    .foot-info{
        width: 100%;
        height: 50%;
    }
    .foot-info ul {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .foot-sns{
        width: 100%;
        height: 50%;
    }
    .foot-sns ul {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .foot-warp {
        top: 30%;
        height: 70%;
    }
    /* 인디케이터 안보이게 설정 */
    .indi{
        display: none;
    }
    /***********************************
    서브
    ***********************************/
    .sub_ball_all {
        flex-direction: column;
    }
    .sub_ball_img {
        width: 100%;
    }
    .sub_ball_img ul {
        flex-wrap: wrap;
    }
    .sub_ball_info {
        width: 100%;
    }
    .sub_nav ul {
        flex-direction: column;
    }
    .sub_nav li {
        width: 100%;
    }
    .sub_nav li p {
        font-size: min(18px,3vw);
    }
}
